<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <hr>
      <app-server></app-server>
    </div>
  </div>
</div>
<hr>
<app-td-form></app-td-form>
<app-reactive-form></app-reactive-form>
<app-list></app-list>
<app-parent></app-parent>
<app-prop-bind></app-prop-bind>
<router-outlet></router-outlet>
<app-directives></app-directives>

<h1>{{ title }}</h1>

<app-content>
  <p left>This content shown in the left side</p>

  <p middle>This content shown in the middle</p>

  <p right-side>This content shown in the right side</p>

  <p>
    This content shown alone in <mark><b>div-without-selector</b></mark>
  </p>
</app-content>

<p><b>Normal text without ng-content usage</b></p>


<app-pipe></app-pipe>
